@page {
	size: 8.5in 11in;
	margin: 0.2in;	
}

body { 
	margin: 0;
	font-size: 1in;
	line-height: 1in;
	/*transform: scale(.7); */
}
.navbar, .main-navigation, .hidden-print, .breadcrumb, .page-header, .footer, #print_btn, #btn_submit, #select_mehfil_no {

	display: none;

}
td{
	/*page-break-inside: avoid;
*/	height: auto !important;
}
h1{
	word-spacing: -5px !important;
}
span.select2-arrow {
	display: none !important;
}
#dr-table thead td{
	font-size: 28px !important;
}
#table_header, #footer_text {
	display: block !important;
}

.main-container {

	margin: 0 !important;

	padding: 0 !important;

}


.main-content .container {

	min-height: auto !important;

	border: none !important;

}